/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background: url("/../../../assets/img/bg/bg-01.png") repeat-x;
    position: relative;
    animation: fondomovi linear 120s infinite;
    left: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    font-family: Roboto,   "Helvetica Neue", sans-serif;
    -webkit-animation: fondomovi linear 120s infinite;
}

@keyframes fondomovi {
  0% {
   background-position: 0px 0;
  }
  100% {
    background-position: 1920px 0;
  }
}

