<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nota</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of lista">
      <tr>
        <td>{{item.nombre}}</td>
        <td>{{item.nota}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <div class="text-center">
      <button (click)="apr()" class="btn btn-success m-5">Aprobaron</button>
      <button (click)="reset()" class="btn btn-secondary m-5">Resetear</button>
      <button (click)="repro()" class="btn btn-danger m-5">Reprobaron</button> 
  </div>
</div>


